{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>CLASSES</h1>
        {% if records %}
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">COURSE</th>
                        <th scope="col">PROF</th>
                        <th scope="col">ROOM</th>
                        <th scope="col">DAYS</th>
                        <th scope="col">TIME</th>
                        <th scope="col">CREDITS</th>
                        <th scope="col">SEM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td><a href="{% url 'record' record.id %}" class="text-decoration-none text-success">{{record.class_name}}</a></td>
                        <td>{{record.professor}}</td>
                        <td>{{record.classroom}}</td>
                        <td>{{record.days}}</td>
                        <td>{{record.start_time}} - {{record.end_time}}</td>
                        <td>{{record.credits}}</td>
                        <td>{{record.semester}}</td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <div class="container">
            <h1 class="text-center">HOMEWORK HUB</h1>
            <p class="text-center">Your ultimate tool for managing and tracking your classes effectively</p>
            <div class="shadow-lg p-3 mb-5 rounded-3">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <img src="{% static 'images/study.jpg' %}" style="height:310px;" class="rounded-3 mt-5">
                    </div>
                    <div class="col-12 col-md-6 pt-5">
                        <h2 class="mt-2 mb-2 text-center w-100">Features</h2>
                        <p class="lead text-center">Organize your classes with ease</p>
                        <p class="lead text-center">Track assignments and due dates</p>
                        <p class="lead text-center">View class details</p>
                        <p class="lead text-center">Manage your academic life efficiently</p>
                        <p class="text-center">more to come...</p>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

{% endblock %}